In [33]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [34]:
options = webdriver.ChromeOptions()

In [35]:
driver = webdriver.Chrome(options=options)

In [36]:
driver.get('https://www.myntra.com/')

In [37]:
search=driver.find_element(By.XPATH,".//input[@class='desktop-searchBar']")

In [38]:
search.send_keys("smart watches")

In [39]:
search.send_keys(Keys.ENTER)

In [40]:
brand=driver.find_elements(By.XPATH,".//h3[@class='product-brand']")
brand=[i.text for i in brand]

In [41]:
print(brand)
print(len(brand))

['pebble', 'Fire-Boltt', 'pebble', 'boAt', 'NOISE', 'pebble', 'CMF by Nothing', 'pebble', 'Fire-Boltt', 'pebble', 'Fire-Boltt', 'Fire-Boltt', 'boAt', 'NOISE', 'boAt', 'Fire-Boltt', 'pebble', 'NOISE', 'Fire-Boltt', 'pebble', 'Fire-Boltt', 'NOISE', 'Fire-Boltt', 'Realme', 'NOISE', 'Fire-Boltt', 'boAt', 'pebble', 'NOISE', 'Fire-Boltt', 'HAMMER', 'NOISE', 'boAt', 'CMF by Nothing', 'CMF by Nothing', 'NOISE', 'Fire-Boltt', 'Timex', 'Fire-Boltt', 'Realme', 'pebble', 'NOISE', 'Fire-Boltt', 'boAt', 'pebble', 'boAt', 'NOISE', 'Fire-Boltt', 'boAt', 'Fastrack']
50

In [42]:
product=driver.find_elements(By.XPATH,".//h4[@class='product-product']")
product=[i.text for i in product]

In [43]:
print(product)
print(len(product))

['Celia 1.32" Display SmartWatch', 'Starlight Bluetooth Smartwatch', 'Women 1.27" Smart Watch', 'Unisex Wave Genesis Smartwatch', 'Fit Posh Smartwatch', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Watch Pro', 'Celia 1.32" Display SmartWatch', 'Hurricane Smartwatch', 'Women 1.27" Smart Watch', 'Rock AMOLED Display Smartwatch', 'Eclipse Luxe 1.43" Amoled', 'Ultima Prism Smart Watch', 'Mettle EliteEdition Smartwatch', 'Lunar Mirage Smartwatch', 'Hulk 1.78 inch Smartwatch', 'Hive 1.39" Display Smart Watch', 'Fit Posh Smartwatch', 'Supernova Bluetooth SmartWatch', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Aura BT Calling Smartwatch', 'Fit Posh Smartwatch', 'Cobra AMOLED Smart Watch', 'TechLife Watch S100', 'ColorFit Icon 2 Smartwatch', 'Eclipse Luxe 1.43" Amoled', 'Storm Plus AMOLED Smart Watch', 'Cosmos Quest Smartwatch', 'ColorFit Icon 2 Smartwatch', 'Hulk 1.78 inch Smartwatch', 'Unisex Pulse 2.0 Smart Watch', 'ColorFit Pro 5 Smartwatch', 'Unisex Wave Genesis Smartwatch', 'Watch Pro', 'Watch Pro', 'NoiseFit Evolve 3 Smartwatch', 'Hurricane Smartwatch', 'iConnect Gen+ Smart Watch', 'Hurricane Smartwatch', 'TechLife Watch S100', 'BT Calling Luxury Smartwatch', 'ColorFit Vision 3 Smartwatch', 'Visionary TWS Smartwatch', 'Unisex Ultima Prism Smartwatch', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Lunar Connect Ace', 'Evolve 3 Smartwatch', 'Avalanche Luxury Smart Watch', 'Unisex Ultima Prism Smartwatch', 'FS2 BT Calling Smartwatch']
50

In [44]:
price=driver.find_elements(By.XPATH,".//span[@class='product-discountedPrice']")
price=[i.text for i in price]

In [45]:
print(price)
print(len(price))

['Rs. 1599', 'Rs. 2299', 'Rs. 1899', 'Rs. 1799', 'Rs. 1599', 'Rs. 3499', 'Rs. 2299', 'Rs. 1700', 'Rs. 2299', 'Rs. 3199', 'Rs. 1799', 'Rs. 2349', 'Rs. 2249', 'Rs. 1599', 'Rs. 1799', 'Rs. 1699', 'Rs. 1799', 'Rs. 1899', 'Rs. 1599', 'Rs. 1999', 'Rs. 1799', 'Rs. 1899', 'Rs. 2499', 'Rs. 1799', 'Rs. 1999', 'Rs. 1899', 'Rs. 2499', 'Rs. 1799', 'Rs. 1799', 'Rs. 1849', 'Rs. 3999', 'Rs. 1899', 'Rs. 3499', 'Rs. 3499', 'Rs. 2449', 'Rs. 1899', 'Rs. 2527', 'Rs. 1850', 'Rs. 2499', 'Rs. 1999', 'Rs. 3499', 'Rs. 2499', 'Rs. 2349', 'Rs. 1599', 'Rs. 1999', 'Rs. 2449', 'Rs. 2199', 'Rs. 2599', 'Rs. 1999']
49

In [46]:
df= pd.DataFrame(columns=["Brand","Desc","Price"])
df

Empty DataFrame
Columns: [Brand, Desc, Price]
Index: []

In [47]:
df['Brand']=brand[0:15]
df['Desc']=product[0:15]
df['Price']=price[0:15]

In [48]:
df

             Brand                                      Desc     Price
0           pebble            Celia 1.32" Display SmartWatch  Rs. 1599
1       Fire-Boltt            Starlight Bluetooth Smartwatch  Rs. 2299
2           pebble                   Women 1.27" Smart Watch  Rs. 1899
3             boAt            Unisex Wave Genesis Smartwatch  Rs. 1799
4            NOISE                       Fit Posh Smartwatch  Rs. 1599
5           pebble  Cosmos Ultra 1.91" BT Calling Smartwatch  Rs. 3499
6   CMF by Nothing                                 Watch Pro  Rs. 2299
7           pebble            Celia 1.32" Display SmartWatch  Rs. 1700
8       Fire-Boltt                      Hurricane Smartwatch  Rs. 2299
9           pebble                   Women 1.27" Smart Watch  Rs. 3199
10      Fire-Boltt            Rock AMOLED Display Smartwatch  Rs. 1799
11      Fire-Boltt                 Eclipse Luxe 1.43" Amoled  Rs. 2349
12            boAt                  Ultima Prism Smart Watch  Rs. 2249
13           NOISE            Mettle EliteEdition Smartwatch  Rs. 1599
14            boAt                   Lunar Mirage Smartwatch  Rs. 1799

In [49]:
df.to_csv("smart watches.csv")